
.addWrap {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.addCont{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    height: 100%;
}
.formWrap{
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    .recipeBtn{
        margin-top: 30px;
        margin-left: 15px;
    }
}
.radioWrap{
    margin: 10px;
    min-height: 100px;
    max-height: 300px;
    overflow: scroll;
}